#content{
    background-color: #f3f3f1;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px ;
    font-size: 1.2rem;
    font-weight: 900;
}

#search{
    background-color: transparent;
    width: 15vw;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
}