<div id="content">
    <img id="logo" src="assets/images/logo.png"  alt="logo">

    <ul>
        <li class="active"><fa-icon class="li-space" [icon]="faHomeAlt"></fa-icon>Dashboard</li> 
        <li class="drop">
            <div>
                <fa-icon  class="li-space" [icon]="faDollarSign"></fa-icon>
                Balance 
            </div>
            <fa-icon [icon]="faAngleDown"></fa-icon>
        </li>
        <li class="drop">
            <div>
                <fa-icon  class="li-space" [icon]="faArrowRightArrowLeft"></fa-icon>
                Transacrions
            </div>
             <fa-icon [icon]="faAngleDown"></fa-icon>
            </li>
        <li><fa-icon  class="li-space" [icon]="faCircle"></fa-icon>Organization</li>
        <li><fa-icon  class="li-space" [icon]="faPeopleGroup"></fa-icon>Groups</li>
        <li><fa-icon  class="li-space" [icon]="faGlobeAfrica"></fa-icon>Zones</li>
        <li><fa-icon  class="li-space" [icon]="faGear"></fa-icon>Settings</li>
    </ul>
</div>