

<div id="content">
    <div class="m-2">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>

    <div class="m-2">
        <div>
            <form class="form-inline">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Filter</option>
                    <option value="1">Active Only</option>
                    <option value="2">Error Only</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Export As</option>
                    <option value="1">PDF</option>
                    <option value="2">Excel</option>
                </select>
                <input class="form-control" type="date" placeholder="date" aria-label="date">
            </form>
        </div>
    </div>
</div>